.nav-contenedor {
    display: flex;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
 
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    z-index: 3;
    flex-wrap: wrap;
}
.nav-contenedor-botones {
    position: absolute;
    left: 100px;
}

.nav-contenedor-logo {
    width: 40px;
    margin-left: 3%;
}
.searchBar {
    margin-right: 5%;
}
.nav-contenedor-button-favoritas {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin-left: 50px;
    height: 24px;
    width: 80px;
    border-radius: 8px;
    color: rgb(220, 225, 230);
}
.nav-contenedor-button-favoritas:hover {
    color: rgba(212, 154, 39, 0.505);
}
.user{
  
   margin-left: 6%;
}
@media (max-width: 420px) {
    .searchBar {
     position: relative;
     left: 45%;
     transform: translate(-50%, -50%);
   
     margin-top:6%
    }
    .nav-contenedor-ambos{
        position: relative;
        left: 45%;
        transform: translate(-50%, -50%);
        margin-top:5%
 
    }
  }