.nav-contenedor{
display: flex;
background-position: 9cm;
// background-image: url("https://p4.wallpaperbetter.com/wallpaper/325/140/18/alone-stars-purple-background-hd-wallpaper-preview.jpg");
// background-color: rgba(54, 142, 219, 0.448);
height: 60px;
border-radius: 17px;
align-items: center;
width: 100%;
position: fixed;
top:0px
}
.nav-contenedor-botones{
    position: absolute;
    left: 100px;
}
.nav-contenedor-logo{
    width: 40px;
    margin-left: 3%;
}
.nav-contenedor-button-favoritas{
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin-left: 50px;
    height: 24px;
    width: 80px;
    border-radius: 8px;
    color: rgb(220, 225, 230); 
}
.nav-contenedor-button-favoritas:hover{
    color: rgba(212, 154, 39, 0.505);
}
.searchBar{
position: absolute;
right: 8%;
}