.detalleMovie-contenedor {
    margin-top: 10%;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;

    img {
        margin-left: 5%;
    }

    div {
        margin-left: 5%;
    }
 
    p{
        color: rgba(255, 255, 255, 0.816);   
    }
}
.detalleMovie-contenedor-back{
    background-color: rgba(152, 160, 168, 0.453);
    padding: 2%;
    border-radius: 2em;
}