.SearchBar-contenedor {
    display: flex;
}
.SearchBar-contenedor-lupa {
    margin-right: 4%;
    margin-left: 10%;
}

.lupa {
    background-color: rgba(240, 248, 255, 0.698);
    border-radius: 15px;
    width: 28px;
    height: 28px;
}